@page "/counter"
@using static OVN17.Pages.Index
@using static OVN17.Pages.FetchData

<PageTitle>Counter</PageTitle>

<h2>Change device config</h2>

<div class="input-group">
    <input @bind="devicedata"  type="text" class="form-control" placeholder=" DeviceData" >
    <div class="input-group-append">
<button @onclick="OnAdd" @onclick:preventDefault="true" type="submit" class="btn btn-info">Add</button>
    </div>
</div>







@code {
   
    private string devicedata  = string.Empty;
    [Parameter]
    public EventCallback<string> Add { get; set; } 
    public async Task OnAdd()
    {
        
        await Add.InvokeAsync(devicedata);
    }
}





