@page "/counter"
@using static OVN17.Pages.Index
@using static OVN17.Pages.FetchData

<PageTitle>Counter</PageTitle>

<h1>Change device config</h1>

@*<EditForm Model="@test">

    <InputText id="Name" @bind-Value="@Device.Name" placeholder="Enter device name"></InputText>
    <InputText id="Id" @bind-Value="@Device.Id" placeholder="Enter device id"></InputText>
    <InputText id="DeviceData" @bind-Value="Device.DeviceData" placeholder="Enter device data"></InputCheckbox>
    <InputCheckbox id="Active" @bind-Value="Device.Active" placeholder="Active?"></InputCheckbox>
</EditForm>
*@

@code {
    [Parameter]
    public List<Device> test { get; set; }
}





