@using static OVN17.Pages.Index
@using static OVN17.Shared.MainLayout
@page "/statusen"
<h3>Status</h3>


    <div class="row">
        <div class="nav-item px-4 text-white col">Devices</div>
        <div class=" text-white col">Working</div>
    </div>

    <div class="row">
    <div class="nav-item px-4 text-white col">@test?.Count()</div>
        <div class=" text-white col">@test?.Where(g=>g.Active==true).Count()</div>
    </div>










@code {
   
    [Parameter]
    public List<Device> test { get; set; }
}
